# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

documentation

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

package_lock.json
local-publish.sh
build.sh
.npmrc
.gitlab-ci.yml

.idea/
.ionic/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
www/
node_modules/
tmp/
temp/
platforms/
plugins/
plugins/android.json
plugins/ios.json
$RECYCLE.BIN/

.angular/
dist/
dist_/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
